In [16]:
import pandas as pd
import numpy as np
from variables import *

In [17]:
df_csv = pd.read_csv(full_time_series_path, usecols=['Date','Open','Close'], 
    index_col=['Date'], parse_dates=['Date'])
df = df_csv[df_csv.index >= pd.to_datetime(start_date)]
df

                       Open   Close
Date
2017-05-08 00:00:00  1555.1  1593.3
2017-05-08 01:00:00  1593.3  1593.4
2017-05-08 02:00:00  1594.2  1594.8
2017-05-08 09:00:00  1620.3  1606.2
2017-05-08 10:00:00  1608.1  1610.0
...                     ...     ...
2018-12-31 20:00:00  3631.6  3618.3
2018-12-31 21:00:00  3618.1  3613.0
2018-12-31 22:00:00  3612.8  3612.0
2019-01-01 22:00:00  3658.6  3658.0
2019-01-01 23:00:00  3658.1  3762.8

[9971 rows x 2 columns]

In [18]:
df["OCAvg"] = df['Open'].add(df['Close']).div(2)
del df['Open']
del df['Close']

In [19]:
# Simple Moving Average
df['MA'] = df['OCAvg'].rolling(window=ma_periods).mean()

In [20]:
# Log Returns
df['Returns'] = np.log(df['MA']/df['MA'].shift(1))
df.head(15)

                       OCAvg           MA   Returns
Date
2017-05-08 00:00:00  1574.20          NaN       NaN
2017-05-08 01:00:00  1593.35          NaN       NaN
2017-05-08 02:00:00  1594.50          NaN       NaN
2017-05-08 09:00:00  1613.25          NaN       NaN
2017-05-08 10:00:00  1609.05          NaN       NaN
2017-05-08 11:00:00  1604.25          NaN       NaN
2017-05-08 13:00:00  1602.65          NaN       NaN
2017-05-08 14:00:00  1599.65          NaN       NaN
2017-05-08 15:00:00  1602.75          NaN       NaN
2017-05-08 16:00:00  1611.65          NaN       NaN
2017-05-08 17:00:00  1616.45          NaN       NaN
2017-05-08 18:00:00  1621.95          NaN       NaN
2017-05-08 19:00:00  1617.95          NaN       NaN
2017-05-08 20:00:00  1635.30  1606.925000       NaN
2017-05-08 21:00:00  1644.45  1611.942857  0.003118

In [21]:
df.dropna(how='any', inplace=True)
df = df[df.shape[0] % batch_size:]
df

                       OCAvg           MA   Returns
Date
2017-05-09 04:00:00  1684.85  1635.482143  0.003526
2017-05-09 05:00:00  1693.20  1641.950000  0.003947
2017-05-09 08:00:00  1718.20  1650.417857  0.005144
2017-05-09 09:00:00  1728.45  1659.396429  0.005425
2017-05-09 10:00:00  1724.80  1667.478571  0.004859
...                      ...          ...       ...
2018-12-31 20:00:00  3624.95  3700.360714 -0.001889
2018-12-31 21:00:00  3615.55  3692.625000 -0.002093
2018-12-31 22:00:00  3612.40  3684.835714 -0.002112
2019-01-01 22:00:00  3658.30  3679.732143 -0.001386
2019-01-01 23:00:00  3710.45  3677.728571 -0.000545

[9952 rows x 3 columns]

In [22]:
# 1216 - 
# df_train = df[:- validation_size - test_size]
# df_validation = df[- validation_size - test_size:]
df_train = df[:- validation_size]
df_validation = df[6976:]
# df_test = df[- validation_size - test_size:]
print(f'df_train.shape {df_train.shape}, df_validation.shape {df_validation.shape}') #, df_test.shape {df_test.shape}')

df_train.shape (6976, 3), df_validation.shape (2976, 3)

In [23]:
df_train.to_csv(train_time_series_path)
df_validation.to_csv(validate_time_series_path)
# df_test.to_csv(test_time_series_path)